<%- include('header'); -%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card shadow mb-4 mt-3">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Mật khẩu cũ</label>
                            <input type="text" class="form-control" id="oldPass" placeholder="Mật khẩu cũ">
                            <div class="form-group">
                                <label for="">Mật khẩu mới</label>
                                <input type="text" class="form-control" id="newPass" placeholder="Mật khẩu mới">
                            </div>
                            <div class="form-group">
                                <label for="">Nhập lại mật khẩu mới</label>
                                <input type="text" class="form-control" id="rePass" placeholder="Nhập lại mật khẩu mới">
                            </div>
                            <button type="button" class="btn btn-primary">Đổi mật khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('footer') %>
        <script>
            const token = $('meta[name="csrf-token"]').attr('content')


            function getCookie(cname) {
                let name = cname + "=";
                let ca = document.cookie.split(';');
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }


            $('button').click(e => {
                e.preventDefault();
                const oldPass = $('#oldPass').val().trim();
                const newPass = $('#newPass').val().trim();
                const rePass = $('#rePass').val().trim();

                if (oldPass === '' || newPass === '' || rePass === '') {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Vui lòng nhập đầy đủ thông tin'
                    });
                    return;
                }
                if (newPass !== rePass) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Mật khẩu mới và nhập lại mật khẩu mới không khớp'
                    });
                    return;
                }
                $.ajax({
                    url: '/admin/change-password',
                    headers: {
                        'CSRF-Token': token,
                        'Authorization': 'Bearer ' + getCookie('token')
                    },
                    type: 'POST',
                    data: {
                        oldPass,
                        newPass
                    },
                    success: res => {
                        console.log(res);
                        if (res.status) {
                            $('input').val('');
                            Swal.fire({
                                icon: 'success',
                                title: 'Thành công',
                                text: 'Đổi mật khẩu thành công'
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi',
                                text: 'Mật khẩu cũ không đúng'
                            });
                        }
                    }
                });
            })
        </script>