<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/home/assets/img/logo.png" type="image/x-icon">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <!-- CSS -->
    <link rel="stylesheet" href="/home/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home/assets/css/custom.css">
    <link rel="stylesheet" href="/home/assets/fontawesome/css/all.min.css">
    <title>VanMay.Net</title>
</head>

<body>
    <!-- Header -->
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="/home/assets/img/logo.png" width="200" alt="">
                </a>
            </nav>
        </div>
    </header>

    <!-- Content -->
    <main id="main" class="min-vh-100">
        <div class="top-banner d-none d-sm-block"></div>
        <div class="container">
            <div class="content-wrap pb-5">
                <div class="p-4">
                    <div class="title-wrapper text-center">
                        <h3 id="title"></h3>
                        <h5 id="sub-title" class="d-inline"></h5>
                    </div>
                    <!-- Tab huong dan -->
                    <div class="tab-wrapper">
                        <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link btn btn-default active" id="chanle-tab" data-toggle="pill"
                                    href="#chanle" role="tab" aria-controls="chanle" aria-selected="true">Chẵn
                                    lẽ</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link btn btn-default " id="taixiu-tab" data-toggle="pill" href="#taixiu"
                                    role="tab" aria-controls="taixiu" aria-selected="false">Tài
                                    xỉu</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link btn btn-default " id="chanle2-tab" data-toggle="pill" href="#chanle2"
                                    role="tab" aria-controls="chanle2" aria-selected="false">Chẵn lẽ
                                    2</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link btn btn-default " id="gap3-tab" data-toggle="pill" href="#gap3"
                                    role="tab" aria-controls="gap3" aria-selected="false">Gấp 3</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link btn btn-default " id="tong3so-tab" data-toggle="pill" href="#tong3so"
                                    role="tab" aria-controls="tong3so" aria-selected="false">Tổng 3
                                    số</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link btn btn-default " id="motphanba-tab" data-toggle="pill"
                                    href="#motphanba" role="tab" aria-controls="motphanba" aria-selected="false">1
                                    phần
                                    3</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link btn btn-default " id="xien-tab" data-toggle="pill" href="#xien"
                                    role="tab" aria-controls="xien" aria-selected="false">Xiên</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link btn btn-default " id="doanso-tab" data-toggle="pill" href="#doanso"
                                    role="tab" aria-controls="doanso" aria-selected="false">Đoán
                                    số</a>
                            </li>
                            <li class="nav-item text-center w-100 mt-4" role="presentation">
                                <a class="nav-link btn btn-default btn-lg d-inline-block" id="task-day-tab"
                                    data-toggle="pill" href="#task-day" role="tab" aria-controls="task-day"
                                    aria-selected="false">Nhiệm vụ ngày
                                    <span class="text-danger d-block font-weight-bold"
                                        style="font-size:10px">(New)</span>
                                </a>
                            </li>
                        </ul>

                        <!--  -->
                        <div class="row">
                            <!-- Cach choi -->
                            <div class="col-sm-12 col-md-6 d-flex mt-5">
                                <div class="card border-info w-100">
                                    <div class="card-header bg-info text-center text-white">
                                        CÁCH CHƠI
                                    </div>
                                    <div class="tab-content">
                                        <!-- Chan le -->
                                        <div class="tab-pane card-body show active" id="chanle" role="tabpanel"
                                            aria-labelledby="chanle-tab">
                                            <p> - Chuyển tiền vào một trong các tài khoản :</p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Số điện thoại</th>
                                                            <th class="text-center text-white">Cược tối thiểu</th>
                                                            <th class="text-center text-white">Cược tối đa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <p>- Nội dung chuyển : <b>C</b> hoặc <b>L</b> (nếu đuôi mã giao dịch có
                                                các
                                                số sau) </p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Nội dung</th>
                                                            <th class="text-center text-white">Số</th>
                                                            <th class="text-center text-white">Tiền nhận</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>L</b></td>
                                                            <td> <b>1</b> - <b>3</b> - <b>5</b> - <b>7</b>
                                                            </td>
                                                            <td><b>x2.31 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>C</b></td>
                                                            <td><b>2</b> - <b>4</b> - <b>6</b> - <b>8</b>
                                                            </td>
                                                            <td><b>x2.31 tiền cược</b></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li>- Tiền thắng sẽ = <b>Tiền cược*2.31</b></li>
                                                <li>- <b>Đặc biệt</b>: bạn có 10% cơ hội được trả thưởng 2 lần.</li>
                                                <li><b>Lưu ý</b>: Nếu chuyển sai hạn mức hoặc sai nội dung vui lòng
                                                    vào
                                                    phần
                                                    <b>"KIỂM TRA MÃ GIAO DỊCH"</b> để hoàn tiền.
                                                </li>
                                            </ul>

                                        </div>

                                        <!-- Tai xiu -->
                                        <div class="tab-pane card-body" id="taixiu" role="tabpanel"
                                            aria-labelledby="taixiu-tab">
                                            <p> - Chuyển tiền vào một trong các tài khoản :</p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Số điện thoại</th>
                                                            <th class="text-center text-white">Cược tối thiểu</th>
                                                            <th class="text-center text-white">Cược tối đa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Nội dung</th>
                                                            <th class="text-center text-white">Số</th>
                                                            <th class="text-center text-white">Tiền nhận</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>X</b></td>
                                                            <td> <b>1</b> - <b>2</b> - <b>3</b> - <b>4</b>
                                                            </td>
                                                            <td><b>x2.31 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>T</b></td>
                                                            <td><b>5</b> - <b>6</b> - <b>7</b> - <b>8</b>
                                                            </td>
                                                            <td><b>x2.31 tiền cược</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li>- Tiền thắng sẽ = <b>Tiền cược*2.31</b></li>
                                                <li>- <b>Đặc biệt</b>: bạn có 10% cơ hội được trả thưởng 2 lần.</li>
                                                <li><b>Lưu ý</b>: Nếu chuyển sai hạn mức hoặc sai nội dung vui lòng
                                                    vào
                                                    phần
                                                    <b>"KIỂM TRA MÃ GIAO DỊCH"</b> để hoàn tiền.
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Chan le 2 -->
                                        <div class="tab-pane card-body" id="chanle2" role="tabpanel"
                                            aria-labelledby="chanle2-tab">
                                            <p> - Chuyển tiền vào một trong các tài khoản :</p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Số điện thoại</th>
                                                            <th class="text-center text-white">Cược tối thiểu</th>
                                                            <th class="text-center text-white">Cược tối đa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <p>- Nội dung chuyển : <b>C2</b> hoặc <b>L2</b> hoặc <b>T2</b> hoặc
                                                <b>X2</b> (nếu đuôi mã giao dịch có
                                                các số sau)
                                            </p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Nội dung</th>
                                                            <th class="text-center text-white">Số</th>
                                                            <th class="text-center text-white">Tiền nhận</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>L2</b></td>
                                                            <td> <b>1</b> - <b>3</b> - <b>5</b> - <b>7</b> -
                                                                <b>9</b>
                                                            </td>
                                                            <td><b>x1.96 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>C2</b></td>
                                                            <td><b>0</b> -<b>2</b> - <b>4</b> - <b>6</b> -
                                                                <b>8</b>
                                                            </td>
                                                            <td><b>x1.96 tiền cược</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>X2</b></td>
                                                            <td><b>0</b> -<b>1</b> - <b>2</b> - <b>3</b> -
                                                                <b>4</b>
                                                            </td>
                                                            <td><b>x1.96 tiền cược</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>T2</b></td>
                                                            <td><b>5</b> -<b>6</b> - <b>7</b> - <b>8</b> -
                                                                <b>9</b>
                                                            </td>
                                                            <td><b>x1.96 tiền cược</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li>- Tiền thắng sẽ = <b>Tiền cược*1.96</b></li>
                                                <li>- <b>Đặc biệt</b>: bạn có 10% cơ hội được trả thưởng 2 lần.</li>
                                                <li><b>Lưu ý</b>: Nếu chuyển sai hạn mức hoặc sai nội dung vui lòng
                                                    vào
                                                    phần
                                                    <b>"KIỂM TRA MÃ GIAO DỊCH"</b> để hoàn tiền.
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Gap 3 -->
                                        <div class="tab-pane card-body" id="gap3" role="tabpanel"
                                            aria-labelledby="gap3-tab">
                                            <p> - Chuyển tiền vào một trong các tài khoản :</p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Số điện thoại</th>
                                                            <th class="text-center text-white">Cược tối thiểu</th>
                                                            <th class="text-center text-white">Cược tối đa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <p>- Nội dung chuyển : <b>G3</b> (nếu đuôi mã giao dịch có các số sau):
                                            </p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Nội dung</th>
                                                            <th class="text-center text-white">Số</th>
                                                            <th class="text-center text-white">Tiền nhận</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>2 số cuối mã GD</td>
                                                            <td>
                                                                <b>02</b> <b>13</b> - <b>17</b> - <b>19</b> -
                                                                <b>21</b>-
                                                                <b>29</b> - <b>35</b> - <b>37</b> - <b>47</b> -
                                                                <b>49</b> - <b>51</b> - <b>54</b> - <b>57</b> -
                                                                <b>63</b> - <b>64</b> - <b>74</b> - <b>83</b> -
                                                                <b>91</b> - <b>95</b> - <b>96</b>
                                                            </td>
                                                            <td><b>x3 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2 số cuối mã GD</td>
                                                            <td>
                                                                <b>66</b> - <b>99</b>
                                                            </td>
                                                            <td><b>x4 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3 số cuối mã GD</td>
                                                            <td>
                                                                <b>123</b> - <b>234</b> - <b>456</b> - <b>678</b> -
                                                                <b>789</b>
                                                            </td>
                                                            <td><b>x5 tiền cược</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- Tong 3 so -->
                                        <div class="tab-pane card-body" id="tong3so" role="tabpanel"
                                            aria-labelledby="tong3so-tab">
                                            <p> - Chuyển tiền vào một trong các tài khoản :</p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Số điện thoại</th>
                                                            <th class="text-center text-white">Cược tối thiểu</th>
                                                            <th class="text-center text-white">Cược tối đa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <ul class="list-unstyled">
                                                <li>- Nội dung chuyển : <b>S</b> (nếu đuôi mã giao dịch có các số
                                                    sau):
                                                </li>
                                                <li>- Kết quả là tính tổng 3 số cuối của mã giao dịch.</li>
                                                <li>- Nếu tổng 3 số cuối bằng <b>7</b>, <b>17</b>, <b>27</b> => Nhận
                                                    <b>x2 tiền cược</b>
                                                </li>
                                                <li>- Nếu tổng 3 số cuối bằng <b>8</b>, <b>18</b> => Nhận <b>x3 tiền
                                                        cược</b></li>
                                                <li>- Nếu tổng 3 số cuối bằng <b>9</b>, <b>19</b> => Nhận <b>x3.5
                                                        tiền
                                                        cược</b>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Mot phan ba -->
                                        <div class="tab-pane card-body" id="motphanba" role="tabpanel"
                                            aria-labelledby="motphanba-tab">
                                            <p> - Chuyển tiền vào một trong các tài khoản :</p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Số điện thoại</th>
                                                            <th class="text-center text-white">Cược tối thiểu</th>
                                                            <th class="text-center text-white">Cược tối đa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <p>- Nội dung chuyển : <b>N1</b> hoặc <b>N2</b> hoặc <b>N3</b> (nếu đuôi
                                                mã
                                                giao dịch có các số sau)</p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Nội dung</th>
                                                            <th class="text-center text-white">Số</th>
                                                            <th class="text-center text-white">Tiền nhận</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>N1</b></td>
                                                            <td><b>1</b> - <b>2</b> - <b>3</b></td>
                                                            <td><b>x3 tiền cược</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>N2</b></td>
                                                            <td><b>4</b> - <b>5</b> - <b>6</b></td>
                                                            <td><b>x3 tiền cược</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>N3</b></td>
                                                            <td><b>7</b> - <b>8</b> - <b>9</b></td>
                                                            <td><b>x3 tiền cược</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li>- Tiền thắng sẽ = <b>Tiền cược*3</b></li>
                                                <li>- <b>Đặc biệt</b>: bạn có 10% cơ hội được trả thưởng 2 lần.</li>
                                                <li><b>Lưu ý</b>: Nếu chuyển sai hạn mức hoặc sai nội dung vui lòng
                                                    vào
                                                    phần
                                                    <b>"KIỂM TRA MÃ GIAO DỊCH"</b> để hoàn tiền.
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Xien -->
                                        <div class="tab-pane card-body" id="xien" role="tabpanel"
                                            aria-labelledby="xien-tab">
                                            <p> - Chuyển tiền vào một trong các tài khoản :</p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Số điện thoại</th>
                                                            <th class="text-center text-white">Cược tối thiểu</th>
                                                            <th class="text-center text-white">Cược tối đa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <p></p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Nội dung</th>
                                                            <th class="text-center text-white">Số</th>
                                                            <th class="text-center text-white">Tiền nhận</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b>CX</b></td>
                                                            <td><code>0</code> <code>2</code> <code>4</code></td>
                                                            <td><b>x3.3 tiền cược</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>LT</b></td>
                                                            <td><code>5</code> <code>7</code> <code>9</code></td>
                                                            <td><b>x3.3 tiền cược</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>CT</b></td>
                                                            <td> <code>6</code> <code>8</code></td>
                                                            <td><b>x3.3 tiền cược</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>LX</b></td>
                                                            <td> <code>1</code> <code>3</code></td>
                                                            <td><b>x3.3 tiền cược</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li>- Nếu mã giao dịch có số cuối trùng với 1 trong 3 số trên, bạn
                                                    sẽ
                                                    chiến thắng.
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Doan so -->
                                        <div class="tab-pane card-body" id="doanso" role="tabpanel"
                                            aria-labelledby="doanso-tab">
                                            <p> - Chuyển tiền vào một trong các tài khoản :</p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Số điện thoại</th>
                                                            <th class="text-center text-white">Cược tối thiểu</th>
                                                            <th class="text-center text-white">Cược tối đa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>0123456789</b>
                                                                <i class="fas fa-copy"></i>
                                                            </td>
                                                            <td> 5.000 VNĐ.</td>
                                                            <td> 1.000.000 VNĐ.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <p></p>
                                            <div class="table-responsive">
                                                <table
                                                    class="table table-striped table-bordered table-hover text-center">
                                                    <thead>
                                                        <tr role="row" class="bg-info">
                                                            <th class="text-center text-white">Nội dung</th>
                                                            <th class="text-center text-white">Số</th>
                                                            <th class="text-center text-white">Tiền nhận</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><b> D0 </b></td>
                                                            <td><code> 0 </code></td>
                                                            <td><b>x7.0 tiền cược</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b> D1 </b></td>
                                                            <td><code>1 </code></td>
                                                            <td><b>x7.0 tiền cược</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b> D2 </b></td>
                                                            <td><code> 2</code></td>
                                                            <td><b>x7.0 tiền cược</b></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b> D3 </b></td>
                                                            <td><code>3 </code></td>
                                                            <td><b>x7.0 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b> D4 </b></td>
                                                            <td><code>4 </code></td>
                                                            <td><b>x7.0 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b> D5 </b></td>
                                                            <td><code>5</code></td>
                                                            <td><b>x7.0 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>D6 </b></td>
                                                            <td><code>6 </code></td>
                                                            <td><b>x7.0 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b> D7 </b></td>
                                                            <td><code>7 </code></td>
                                                            <td><b>x7.0 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b> D8 </b></td>
                                                            <td><code>8 </code></td>
                                                            <td><b>x7.0 tiền cược</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b> D9 </b></td>
                                                            <td><code>9</code></td>
                                                            <td><b>x7.0 tiền cược</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li>- Nếu mã giao dịch có số cuối trùng với 1 trong 3 số trên, bạn
                                                    sẽ
                                                    chiến thắng.
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Nhiem vu ngay -->
                                        <div class="tab-pane card-body bg-danger-2" id="task-day" role="tabpanel"
                                            aria-labelledby="task-day-tab">
                                            <div class="">
                                                <form class="diem-danh text-center">
                                                    <h4 class="text-primary font-weight-bold">Nhiệm Vụ Ngày</h4>
                                                    <br>
                                                    <div class="form-group bg-danger-1 p-3 rounded" id="">
                                                        <label for="diem_danh_phone">Số điện thoại:</label>
                                                        <input type="text" class="form-control" id="diem_danh_phone"
                                                            placeholder="03837755">
                                                        <small class="form-text text-muted">Nhập
                                                            số điện thoại của bạn để điểm danh.</small>
                                                        <button class="btn btn-success mt-2" id="btn-diem-danh"
                                                            data-toggle="modal" data-target="#modalDiemDanh">Kiểm
                                                            Tra</button>
                                                    </div>
                                                    <div class="form-group occard" id="othuong" style="display:none;">
                                                    </div>
                                                </form>

                                                <div class="bg-danger-1 p-3 rounded">
                                                    <p class="mb-1">Mỗi ngày chỉ cần chơi trên VanMay.Net chắc chắn
                                                        bạn
                                                        sẽ nhận được
                                                        tiền.</p>
                                                    <p class="mb-1">- Khi chơi đủ số tiền (Ko cần biết thắng thua)
                                                        chắc
                                                        chắn sẽ
                                                        nhận
                                                        được tiền.</p>
                                                    <p class="mb-1">- Hãy nhập số điện thoại của bạn vào mục bên
                                                        trên để
                                                        kiểm
                                                        tra đã
                                                        chơi bao nhiêu nhé.</p>
                                                    <p class="mb-1">Chú ý : Phải nhập sdt là số cũ vd: 082xxx -&gt;
                                                        0129xxx ,
                                                        03xxx
                                                        -&gt; 016...</p>
                                                    <p class="mb-1">- Khi chơi đủ mốc tiền, các bạn ấn vào nhận
                                                        thưởng
                                                        để nhận
                                                        được
                                                        các
                                                        mốc như sau:</p>

                                                    <div class="table-responsive">
                                                        <table
                                                            class="table table-striped table-bordered table-hover text-center">
                                                            <thead>
                                                                <tr role="row" class="bg-info">
                                                                    <th class="text-center text-white">Mốc chơi
                                                                    </th>
                                                                    <th class="text-center text-white">Thưởng
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>1.000.000</td>
                                                                    <td>+21.000</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>5.000.000</td>
                                                                    <td>+42.000</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>12.000.000</td>
                                                                    <td class="text-danger">+85.000</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>29.000.000</td>
                                                                    <td class="text-danger">+170.000</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>45.000.000</td>
                                                                    <td class="text-danger">+250.000</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Trang thai momo -->
                            <div class="col-sm-12 col-md-6 d-flex mt-5">
                                <div class="card border-info w-100">
                                    <div class="card-header bg-info text-center text-white">
                                        TRẠNG THÁI MOMO
                                    </div>
                                    <div class="card-body">
                                        <p>Lưu ý: Khi đạt 130 GD hoặc 40
                                            triệu sẽ tự đổi số.</p>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover text-center">
                                                <thead>
                                                    <tr role="row" class="bg-info">
                                                        <th class="text-center text-white">Số điện thoại</th>
                                                        <th class="text-center text-white">Trạng thái</th>
                                                        <th class="text-center text-white">Số lần</th>
                                                        <th class="text-center text-white">GD ngày</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="momo-status">
                                                    <tr>
                                                        <td> <b>0123456789</b> <i class="fas fa-copy"></i> </td>
                                                        <td>
                                                            <span class="badge badge-success text-uppercase">Hoạt
                                                                động</span>
                                                        </td>
                                                        <td> 103</td>
                                                        <td> 4.207.238</td>
                                                    </tr>
                                                    <tr>
                                                        <td> <b>0123456789</b> <i class="fas fa-copy"></i> </td>
                                                        <td>
                                                            <span class="badge badge-success text-uppercase">Hoạt
                                                                động</span>
                                                        </td>
                                                        <td> 103</td>
                                                        <td> 4.207.238</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <br>
                                        <div id="inputCheckMa">
                                            <div id="resultCheckMa"></div>
                                            <div class="form-group">
                                                <label class="d-block text-center" for="magiaodich">Nhập mã giao
                                                    dịch</label>
                                                <input type="number" class="form-control" id="magiaodich"
                                                    placeholder="Vd: 123456xxx">

                                            </div>
                                            <p class="text-center">
                                                <button type="submit" class="btn btn-info" id="check-transaction">Kiểm
                                                    tra</button>
                                            </p>
                                            <div id="kiemtra_magiaodich" class="alert alert-danger">
                                                <small class="form-text text-muted">Nếu quá 10' chưa
                                                    nhận được tiền vui lòng dán mã vào đây kiểm tra.</small>
                                            </div>
                                            <p class="text-center">
                                                <a class="btn btn-success text-uppercase text-white" href="#"
                                                    target="_blank">BOX CHAT TELEGRAM </a>
                                            </p>

                                        </div>


                                    </div>

                                    <!-- <div id="InPutVongQuay" style="display:none">
                                        <div class="form-group" id="hideophone">
                                            <center> <label for="exampleInputEmail1">Nhập số điện thoại của bạn</label>
                                            </center>
                                            <input type="text" class="form-control" id="sodienthoai"
                                                aria-describedby="emailHelp" placeholder="Vd: 039725462">
                                            <br>
                                            <center>
                                                <p><button type="submit" class="btn btn-success" onclick="quaynow()"
                                                        id="nutkiemtra">Quay thôi!</button> <button type="submit"
                                                        class="btn btn-info"
                                                        onclick="$('#InPutVongQuay').hide();$('#inputCheckMa').show()"
                                                        id="nutkiemtra">Quay Lại</button></p>

                                            </center>
                                        </div>

                                        <center>
                                            <div id="KetQuaQuay" class="alert alert-danger"><small id="emailHelp"
                                                    class="form-text text-muted">Mỗi khi chơi đủ 500.000 VNĐ bạn sẽ nhận
                                                    được 1 lượt quay.</small></div>


                                        </center>


                                        <div class="table-responsive">
                                            <table class="table   text-center">

                                                <tbody role="alert" aria-live="polite" aria-relevant="all"
                                                    id="result-table" class="">

                                                    <tr>
                                                        <td><button id="quay_1" class="btn btn-dark">+50k</button></td>
                                                        <td><button id="quay_2" class="btn btn-dark">+100k</button></td>
                                                        <td><button id="quay_3" class="btn btn-dark">+10k</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td><button id="quay_4" class="btn btn-dark">+20k</button></td>
                                                        <td><button id="quay_5" class="btn btn-success">+500k</button>
                                                        </td>
                                                        <td><button id="quay_6" class="btn btn-dark">+???</button></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Lich su -->
                <div class="history mt-5 pt-3">
                    <h3 class="text-center">LỊCH SỬ THẮNG</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover text-center">
                            <thead>
                                <tr role="row" class="bg-info">
                                    <th class="text-center text-white">Số điện thoại</th>
                                    <th class="text-center text-white">Tiền cược</th>
                                    <th class="text-center text-white">Tiền nhận</th>
                                    <th class="text-center text-white">Trò chơi</th>
                                    <th class="text-center text-white">Nội dung </th>
                                    <th class="text-center text-white">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all" class="" id="load_data_play">
                                <tr>
                                    <td>091546****</td>
                                    <td>5.000</td>
                                    <td>11.550</td>
                                    <td>Chẵn lẻ</td>
                                    <td>L</td>
                                    <td><span class="badge badge-success text-uppercase">Thắng</span></td>
                                </tr>
                                <tr>
                                    <td>091546****</td>
                                    <td>5.000</td>
                                    <td>11.550</td>
                                    <td>Chẵn lẻ</td>
                                    <td>L</td>
                                    <td><span class="badge badge-success text-uppercase">Thắng</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Luu y -->
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="mt-5">
                            <div class="text-center mb-3">
                                <h3 class="text-uppercase">LƯU Ý</h3>
                            </div>
                            <div class="card border-info">
                                <div class="card-body">
                                    <h3 class="text-center"><strong>LƯU Ý: TÊN MIỀN CỦA WEB ĐÃ ĐƯỢC ĐỔI
                                            THÀNH <span class="text-danger">VANMAY.NET</span></strong></h3>
                                    <ol class="pl-4">
                                        <li class="text-justify mt-2">Chẵn lẻ Tài xỉu số cuối mã giao
                                            dịch ra 0, 9 sẽ tính Thua, Nếu muốn có 0 và 9 vui lòng chơi Chẵn lẻ 2.
                                        </li>
                                        <li class="text-justify mt-2">Mỗi số trên web chỉ có thể giao
                                            dịch tối đa <strong>40 triệu</strong> hoặc <strong>130 lần</strong> một
                                            ngày. Vì vậy, số trên hệ thống sẽ thay đổi liên tục nên trước
                                            khi chơi bạn hãy lên lấy số trước, Tránh trường hợp bị hoàn tiền.</li>
                                        <li class="text-justify mt-2">Nếu chuyển sai hạn
                                            mức, số ngừng hoạt động, Sai nội dung hãy sử dụng chức
                                            năng <strong>KIỂM TRA MÃ GIAO DỊCH</strong> để được nhận lại tiền
                                            chơi .</li>
                                        <li class="text-justify mt-2">Nếu bạn cần hỗ
                                            trợ hoặc báo lỗi hãy chat với Nhân viên của web tại <strong>Góc phải màn
                                                hình</strong> (24/7)</li>
                                        <li class="text-justify mt-2">Tham gia ngay <strong><a
                                                    title="Click vào đây (Box hỗ trợ báo lỗi Telegram)" href="#">Box
                                                    chat Telegram</a></strong>
                                            để nhận những thông báo mới nhất từ Web.</li>
                                    </ol>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mt-5">
                            <div class="text-center mb-3">
                                <h3 class="text-uppercase">TOP THẮNG TUẦN</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover text-center">
                                    <thead>
                                        <tr role="row" class="bg-info">

                                            <th class="text-center text-white">#</th>
                                            <th class="text-center text-white">Người chơi</th>
                                            <th class="text-center text-white">Tiền thắng</th>
                                            <th class="text-center text-white">Phần thưởng</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all" class="" id="topgame">
                                        <tr role="row">
                                            <td> <span class="fa-stack">
                                                    <span class="fa fa-circle fa-stack-2x text-danger"></span>
                                                    <strong class="fa-stack-1x text-white">1</strong>
                                                </span></td>
                                            <td class="text-left">

                                                <b>0167628****</b>
                                            </td>
                                            <td class="text-center">235.090.396 vnđ</td>
                                            <td>+<b class="text-danger">1.000.000</b> MoMo</td>
                                        </tr>
                                        <tr role="row">
                                            <td> <span class="fa-stack">
                                                    <span class="fa fa-circle fa-stack-2x text-danger"></span>
                                                    <strong class="fa-stack-1x text-white">2</strong>
                                                </span></td>
                                            <td class="text-left">

                                                <b>0167628****</b>
                                            </td>
                                            <td class="text-center">235.090.396 vnđ</td>
                                            <td>+<b class="text-danger">1.000.000</b> MoMo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <p class="text-center">Copyright 2022 © chanlemomo</p>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="tintuc" tabindex="-1">
        <div class="modal-dialog" style="max-width: 600px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title ml-auto">Tin tức</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="text-center"><strong>LƯU Ý: TÊN MIỀN CỦA WEB ĐÃ ĐƯỢC ĐỔI
                            THÀNH <span class="text-danger">VANMAY.NET</span></strong></h3>
                    <ol class="pl-4">
                        <li class="text-justify mt-2">Chẵn lẻ Tài xỉu số cuối mã giao
                            dịch ra 0, 9 sẽ tính Thua, Nếu muốn có 0 và 9 vui lòng chơi Chẵn lẻ 2.</li>
                        <li class="text-justify mt-2">Mỗi số trên web chỉ có thể giao
                            dịch tối đa <strong>40 triệu</strong> hoặc <strong>130 lần</strong> một
                            ngày. Vì vậy, số trên hệ thống sẽ thay đổi liên tục nên trước
                            khi chơi bạn hãy lên lấy số trước, Tránh trường hợp bị hoàn tiền.</li>
                        <li class="text-justify mt-2">Nếu chuyển sai hạn
                            mức, số ngừng hoạt động, Sai nội dung hãy sử dụng chức
                            năng <strong>KIỂM TRA MÃ GIAO DỊCH</strong> để được nhận lại tiền
                            chơi .</li>
                        <li class="text-justify mt-2">Nếu bạn cần hỗ
                            trợ hoặc báo lỗi hãy chat với Nhân viên của web tại <strong>Góc phải màn
                                hình</strong> (24/7)</li>
                        <li class="text-justify mt-2">Tham gia ngay <strong><a
                                    title="Click vào đây (Box hỗ trợ báo lỗi Telegram)" href="#">Box
                                    chat Telegram</a></strong>
                            để nhận những thông báo mới nhất từ Web.</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Đóng lại</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/home/assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        $(document).ready(function () {
            $(document).on('click', '.fa-copy', function () {
                let copyText = $(this).prev();
                navigator.clipboard.writeText(copyText.text());
                alert(document.title + ' đã sao chép: ' + copyText.text());
            });

            // Modal
            window.onload = function () {
                $('#tintuc').modal('show')
            }

            var title = new Typed('#title', {
                strings: ['Hệ Thống Mini Game MoMo Tự Động'],
                loop: true,
                backDelay: 5000,
                showCursor: false,
            });
            var subTitle = new Typed('#sub-title', {
                strings: ['Uy Tín - Trao Thưởng 30s - Tự Động 24/7'],
                loop: true,
                backDelay: 5000,
            });


            // Diem danh
            $('#btn-diem-danh').click(function (e) {
                e.preventDefault();
                let phone = $('#diem_danh_phone').val();
                if (!phone) {
                    alert('Vui lòng nhập số điện thoại');
                }
            });
            $('#check-transaction').click(e => {
                e.preventDefault()
                const code = $('#magiaodich').val().trim()
                const token = $('meta[name="csrf-token"]').attr('content')
                if (!code) {
                    alert('Vui lòng nhập mã giao dịch')
                    return
                }
                const urlApi = '/checkCode'

                $.ajax({
                    url: urlApi,
                    headers: {
                        'CSRF-Token': token
                    },
                    method: 'POST',
                    data: {
                        code
                    },
                    success: function (res) {
                        const { status, msg } = res
                        if (status)
                            return $('#resultCheckMa').html(`<div class="alert alert-success" role="alert">
                            ${msg}</div>`)
                        return $('#resultCheckMa').html(`<div class="alert alert-danger" role="alert">
                            ${msg}</div>`)
                    }
                })

            })
        });
    </script>
</body>

</html>